@charset "utf-8";

/* リセットCSS */
p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

/* 共通部分 */
body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

a {
  color: #333333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ヘッダー */
header {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.title {
  margin-top: 10px;
}

.main-nav {
  display: flex;
  list-style: none;
  margin-top: 30px;
}

.main-nav li {
  margin-left: 36px;
}